.container{
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 6px solid #3333ff;
}

.recovered {
    border-bottom: 6px solid rgb(19, 192, 19);;
}

.deaths {
    border-bottom: 6px solid red;
}